* {
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;

}

html,
body {
    background: #500191;
    place-items: center;
    font-family: cursive;

}



.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: #500191; */
    position: relative;
    flex: 1;
}

.logo {
    height: 7em;
    padding-top: 0%;
    padding-bottom: -2%;
    filter: drop-shadow(2px 4px 6px black);
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.hero,nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    filter: drop-shadow(2px 4px 6px black);
    cursor: pointer;

}

.hero,nav ul li a {
    text-decoration: none;
    color: rgb(230, 245, 26);
    font-weight: bold;
    float: right;
    font-size: 20px;
    left: 5%;
    cursor: pointer;
}

nav ul li a:hover{
    color:#f0f0ed;    
}






.detel {
    margin-left: 6%;
    margin-top: 10%;
}

.detel h1 {
    font-size: 50px;
    color: #efff10;
    margin-bottom: 20px;
}

.detel h2 {
    font-size: 25px;
    color: #efff10;
    margin-bottom: 20px;
}

.detel h3 {
    color: gold;

    line-height: 22px;
    font-size: 20px;

}

span {
    color: orange;
    filter: drop-shadow(2px 4px 6px black);

}

.detel p {
    color: gold;
    line-height: 22px;
    font-size: 20px;
    /* display: block; */
}

.download {
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(249, 253, 15);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.detel a:hover {
    background-color: #f0f0f0;
    transition-duration: 2s;


}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.images img {
    height: 91%;
    position: absolute;
    left: 78%;
    bottom: -15%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;

}


.ionicons {
    margin-right: 40%;
    padding-left: 240px;
    margin-top: -69px;
    position: absolute;
    top: 95%;
    bottom: -20%;
    cursor: pointer;
}

.ionicons,
a {
    left: 39%;
    font-size: 39px;
    color: #fff9f9;
    margin-right: -10px;
    align-content: center;
    padding-left: 16px;
}

.ionicons:hover {
    color: black;
    transition: color 0.2s;

}

.skills-bar {
    width: 700px;
    background: #f0f0ed;
    box-sizing: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 25px 30px;
    filter: drop-shadow(2px 4px 6px black);
    background: transparent;
}

.skills-bar P {
    text-align: center;
    font-size: 30px;
    color: gold;
    filter: drop-shadow(2px 4px 6px black);
}

.skills-bar .bar {
    margin: 20px 0;
}

.skills-bar .bar:first-child {
    margin-top: 0px;
}

.skills-bar .bar .info {
    margin-bottom: 5px;
}

.skills-bar .bar .info span {
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: showText2 0.5s 1s linear forwards;

}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.skills-bar .bar .progress-line {
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px rgba(255, 255, 255, 0.8);
    position: relative;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
    height: 100%;
    width: 80%;
    background: #fcbb0a;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 80%;
}

.progress-line.javascript span {
    width: 50%;
}

.progress-line.java span {
    width: 80%;
}

.progress-line.python span {
    width: 80%;
}

.progress-line.mysql span {
    width: 60%;
}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;

}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.bar .progress-line span::after {
    position: absolute;
    content: "80%";
    right: 0;
    top: -10px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 1px 8px;
    border-radius: 3px;
    background: #000;
}

.progress-line.html span::after {
    content: "90%";
}

.progress-line.css span::after {
    content: "80%";
}

.progress-line.javascript span::after {
    content: "50%";
}

.progress-line.java span::after {
    content: "80%";
}

.progress-line.python span::after {
    content: "80%";
}

.progress-line.mysql span::after {
    content: "60%";
}

/* media queries */

/* for tablets */

@media (max-width:768px) {


  
    .logo{
        font-size: 9px ;
    }


    nav {
        display: inline-table;

    }

    nav ul li {
        display: inline-block;
        list-style: none;
        margin: 10px 10px;
    }

    .skills-bar {
        width: 500px;
    }

    .images {
        width: 45%;
        height: 95%;
        position: absolute;
        bottom: 0%;
        top: 50px;
        left: 604px;
    }

    .images img {
        height: 39%;
        position: absolute;
        left: 36%;
        bottom: 48%;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }

    .detel h3,
    p {
        color: gold;
        font-size: 20px;
        margin-bottom: 5px;
        display: inline-block;
    }

    .detel h2 {
        font-size: 25px;
        color: #efff10;
        margin-bottom: 40px;
    }

    .detel,span{
        display: block;
    }

    .download {
        border-radius: 30px;
        font-size: 13px;
        margin-left: -34%;
        margin-bottom: 20%;
        position: absolute;
        display: inline-block;
        padding: 7px;
        margin-top: 38px;


    }

    .ionicons {
        margin-right: 40%;
        padding-left: 240px;
        margin-top: -69px;
        position: absolute;
        top: 95%;
        bottom: -20%;
        cursor: pointer;
    }

    .ionicons,
    a {
        left: 58%;
        font-size: 30px;
        color: #fff9f9;
        margin-right: -5px;
        align-content: center;
        padding-left: 0px;
        padding-top: 0px;
        top: 59%;
    }

    .ionicons,a:hover {
        color: black;
        transition: color 0.2s;
    }


}

/* for mobiles */

@media (max-width:480px) {

    .logo{
        font-size: 8px ;
    }
    



    .skills-bar {
        width: 300px;
        /* margin-bottom: 10px; */
        padding-bottom: 10px;
    }

    .skills-bar P{
        margin-bottom: 5px;
        font-size: 15px;
    }



    .images {
        width: 55%;
        height: 80%;
        position: absolute;
        bottom: 300px;
        top: 35px;
        left: 216px
    }

    .images img {
        height: 70%;
        position: absolute;
        left: 55%;
        bottom: -80px;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }

    .detel,
    h1,
    span {
        font-size: 40px;
        display: block;
    }

    .download {
        border-radius: 50px;
        cursor: pointer;
        font-size: 8px;
        margin-left: -44%;
        margin-bottom: 20%;
        position: absolute;
        display: inline-block;
        padding: 7px;
        margin-top: 71px;
        top:190%;
        
    }

    .ionicons {
        margin-right: 40%;
        padding-left: 240px;
        margin-top: -69px;
        position: absolute;
        top: 95%;
        bottom: -20%;
        cursor: pointer;
    }

    .ionicons,
    a {
        left: 49%;
        font-size: 21px;
        color: #fff9f9;
        margin-right: -5px;
        align-content: center;
        padding-left: 0px;
        padding-top: 0px;
        top: 152%;
    }


    .ionicons,
    a:hover {
        color: black;
        transition: color 0.2s;
    }

}

/* for laptop screen  */

@media (max-width:1024px) {

    /* nav{
        display: block;
     } */

    .skills-bar {
        width: 700px;
        padding-left: 4%;
    }
    .hero,nav ul a{
        font-size: 20px;
    }


    .images {
        width: 45%;
        height: 80%;
        position: absolute;
        bottom: 200px;
        left: 500px;
    }

    .images img {
        height: 86%;
        position: absolute;
        left: 71%;
        bottom: -25%;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }

    .detel,
    h1,
    span {
        font-size: 50px;
        display: block;
        padding-left: 1%;

    }

    .detel,
    span {
        display: inline;
        /* padding-left: 2%; */

    }

    .download {
        border-radius: 50px;
        font-size: 20px;
        margin-left: 2%;
        border-radius: 10px;

    }

    .detel h3,
    p {
        color: gold;
        font-size: 20px;
        margin-bottom: 5px;
        display: block;
        padding-left: 2%;
    }

    .detel h2 {
        font-size: 25px;
        color: #efff10;
        margin-bottom: 50px;
        padding-left: 2%;

    }

    .ionicons {
        margin-right: 40%;
        padding-left: 240px;
        margin-top: -69px;
        position: absolute;
        top: 95%;
        bottom: -20%;
        cursor: pointer;
    }

    .ionicons,
    a {
       
        left: 35%;
        font-size: 39px;
        color: #fff9f9;
        margin-right: -10px;
        align-content: center;
        padding-left: 16px;
        top:85%;
    }


    .ionicons,
    a:hover {
        color: black;
        transition: color 0.2s;
    }

    

}



 @media (min-width: 1280px){

    .skills-bar {
        width: 700px;
        padding-left: 4%;
    }
    .hero,nav ul a{
        font-size: 25px;
    }


    .images {
        width: 45%;
        height: 80%;
        position: absolute;
        bottom: 200px;
        left: 500px;
    }

    .images img {
        height: 86%;
        position: absolute;
        left: 71%;
        bottom: -25%;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }

    .detel,
    h1,
    span {
        font-size: 50px;
        display: block;
        padding-left: 1%;

    }

    .detel,
    span {
        display: inline;
        /* padding-left: 2%; */

    }

    .download {
        border-radius: 50px;
        font-size: 20px;
        margin-left: 2%;
        border-radius: 10px;

    }

    .detel h3,
    p {
        color: gold;
        font-size: 20px;
        margin-bottom: 5px;
        display: block;
        padding-left: 2%;
    }

    .detel h2 {
        font-size: 25px;
        color: #efff10;
        margin-bottom: 50px;
        padding-left: 2%;

    }

    .ionicons {
        margin-right: 40%;
        padding-left: 240px;
        margin-top: -69px;
        position: absolute;
        top: 95%;
        bottom: -20%;
        cursor: pointer;
    }

    .ionicons,
    a {
       
        left: 38%;
        font-size: 39px;
        color: #fff9f9;
        margin-right: -10px;
        align-content: center;
        padding-left: 16px;
        top:85%;
    }


    .ionicons,
    a:hover {
        color: black;
        transition: color 0.2s;
    }


  }  